<?xml version="1.0" encoding="UTF-8"?>

<!-- Don't forget to set system property
-DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector
     to make all loggers asynchronous. -->

<Configuration status="INFO">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%t]\t%m%n" />
        </Console>

        <!-- Async Loggers will auto-flush in batches, so switch off immediateFlush. -->
        <RollingFile name="RollingFile" fileName="logs/raft_admin.log" immediateFlush="false"
                     bufferSize="65536"
                     filePattern="logs/raft_admin.log.%d{yyyy-MM-dd}" append="true">
            <PatternLayout>
                <Pattern>%d %p [%t]\t%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Logger name="com.github.wenweihu86.raft" level="info" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile"/>
        </Logger>

        <Root level="info" includeLocation="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>